.quadrado{
    width:600px;
    height:395px;
    border: 2px solid; /* As 4 bordas sólidas com 25px de espessura */
    border-color: transparent; /* cores: topo, direita, inferior, esquerda */
    background-color:rgba(87,84,76,0.5);
}

.quadrado-laranja{
    width:813px;
    height:500px;
    border: 2px solid;
    border-color: transparent;
    background-color: rgba(233,103,22, 0.8);
    margin-top: 50px;
}

#fotos, #comentario{
    background-color: #f16207;
}

#banner1{
    width: 50%;
}

#vantagens{
    background-color: #cbcbcb;
}

#tecnologia, #beneficios{
    background-color: #dbdbdb; 
}


#tecnologia{
    height: 700px;
}

.uk-card{
    margin-top: 50px;
}

#icons{
    width: 59%;
    margin: auto;
}

.uk-button-default{
    color: #f16207;
    border-color: #959595;
    font-size: 20px;
    font-weight: 700;
    
}

.uk-background-cover{
    background-image: url(../img/sustentabilidade.png); height: 725px;
}

#btn-envio{
    background-color: #f16207; 
    color: white;
    font-weight: 700;
}

.btn-enviar, .btn{
    text-align: center;
}

.uk-table td{
    padding: 16px 18px;
    vertical-align: top;
}

#painel{
    margin-top: 100px;
}

#sustentabilidade-mobile{
    display: none;
}

.uk-navbar-nav > li:hover > a, .uk-navbar-nav > li > a.uk-open, .uk-navbar-nav > li > a:focus{
    color: #f16207;
}