@media (max-width:600px) {
    #banner1, p.conexxao, p.vntg, p{
        width: 100%;
    }

    #back-sus{
        display: none;
    }

    .energia{
        width: 100%;
        margin-top: 0px;
        font-size: 20px;
    }

    #banner-sustentavel{
        background: #f16207;
        height: 100%;
    }

    p.sub-energia{
        width: 100%;
        margin: auto;
    }

    #icons{
        width: 100%;
        margin-left: -7px;
    }

    h1, h3{
        margin-top: 37px;
    }

    h2.stnb{
        text-align: center;
        margin-left: 0px;
        margin-top: 26px;
        color: white;
    }

    #line-sust{
        margin: auto;
        width: 50%;
    }

    #tecnologia{
        height: 100%;
    }

    p.text, p.sub-text{
        width: 100%;
        margin-left: 0px;
        color:white;
    }

    p.title{
        margin-top: 53px;
    }

    p.dif{
        width: 100%;
    }

    #painel{
        margin-top: -49px;
        padding-bottom: 33px;
    }
    
    #quemsomos{
        height: 444px;
    }

    #comentario{
        height: 486px;
    }

    #icone, #segmentos{
        margin-bottom: -53px;

    }

    #segmentos{
        margin-top: 15px;
    }

    #margin{
        margin-top: -45px;
    }

    .btn{
        margin-top: 16px;
    }

    #sustentabilidade-mobile{
        display: inline;
        margin-bottom: 30px;
    }
}