@font-face{
    font-family: Roboto Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}

.uk-navbar-nav{
    font-weight: bold;
}

.uk-navbar-toggle{
    color: #f57c14;
}

.uk-navbar-nav>li.uk-active>a{
    color: #f57c14;
}

p.title{
    text-align: center;color: white;font-size: 30px;font-family: 'Roboto', sans-serif;margin-top: 104px;
}

p.sub-title{
    color: white;text-align: center;font-size: 20px;
}

p{
    font-family: Roboto Regular;
}

h1{
    font-size: 25px;text-align: center;margin-top: 130px;font-family: 'Roboto', sans-serif;color: #58595b;
}

.conexxao{
   width: 70%;text-align: center;margin: auto;font-family: Roboto Regular;
}

.quem-somos{
    color: #58595b;text-align: center;font-family: 'Roboto', sans-serif;
}

.energia{
    color: white;font-family: Roboto Regular;width: 37%; color: #FFF; float:right; text-align:center; padding:16px 0 17px 0; margin-top: -400px; font-size: 28px;
}

.sub-energia{
    color: white;font-family:'Roboto', sans-serif;float: right;text-align: center;width: 38%;margin-top: -161px;font-size: 12px;
}

p.vntg{
    text-align: center;font-family:Roboto Regular; width: 60%; margin: auto;padding-top: 30px;
}

h2.stnb{
    font-family: 'Roboto';color: #58595b;font-size: 25px;margin-left: 65%;margin-top: 94px;
}

p.text{
    width: 50%;color: #58595b;float: left;text-align: center;padding: 16px 0 17px 0;margin-left: 50%;margin-top: 37px;
}

p.sub-text{
    width: 50%;color: #58595b;float: left;text-align: center;padding: 16px 0 17px 0;margin-left: 50%;margin-top: -40px;
}

h3{
    color: #58595b; font-size: 25px;font-family: 'Roboto'; margin-top: 135px;
}

p.dif{
    text-align: center; color: white; width: 63%; padding-top: 20px; margin: auto; 
}

h4{
    color: #f16207; text-align: center; font-family: 'Roboto'; font-size: 25px; 
}

td{
    font-family: 'Roboto';
}

[class*=uk-width]{
    font-family: Roboto Regular;
}

p.copy{
    margin-top: 50px;text-align: center;font-size: 15px;
}

#line-sust{
    width: 20%; background-color: #ff961b;height: 5px;margin: auto; margin-left: 65%;
}

div.uk-card.contato{
    line-height: 32%;
}